In [1]:
import numpy as np
import pandas as pd
import os
import shutil

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
0,0,Men Tshirts,5,default,round,printed,default,short sleeves,NaN,NaN,NaN,NaN,NaN
1,1,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
2,2,Men Tshirts,5,default,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
3,3,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
4,4,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN

In [4]:
S_category = set(df['Category'])
S_category

{'Kurtis', 'Men Tshirts', 'Sarees', 'Women Tops & Tunics', 'Women Tshirts'}

## To help list the diff items of particular attributes to select a particular one for sampling

In [5]:
D_Kurtis_attr1={}
D_Men_attr1={}
D_Sarees_attr1={}
D_WTT_attr1={}
D_WTS_attr1={}

In [6]:
for category in S_category:
    if(category == 'Sarees'):
        S = set(df[df['Category'] == category]['attr_1'])
        for element in S:
            D_Sarees_attr1[element] = (df[df['Category'] == category]['attr_1'] == element).sum()
            
    elif (category == 'Men Tshirts'):
        S = set(df[df['Category'] == category]['attr_1'])
        for element in S:
            D_Men_attr1[element] = (df[df['Category'] == category]['attr_1'] == element).sum()
            
    elif (category == 'Kurtis'):
        S = set(df[df['Category'] == category]['attr_1'])
        for element in S:
            D_Kurtis_attr1[element] = (df[df['Category'] == category]['attr_1'] == element).sum()
            
    elif (category == 'Women Tops & Tunics'):
        S = set(df[df['Category'] == category]['attr_1'])
        for element in S:
            D_WTT_attr1[element] = (df[df['Category'] == category]['attr_1'] == element).sum()
            
    elif (category == 'Women Tshirts'):
        S = set(df[df['Category'] == category]['attr_1'])
        for element in S:
            D_WTS_attr1[element] = (df[df['Category'] == category]['attr_1'] == element).sum()

In [7]:
D_Kurtis_attr2={}
D_Men_attr2={}
D_Sarees_attr2={}
D_WTT_attr2={}
D_WTS_attr2={}

In [8]:
for category in S_category:
    if(category == 'Sarees'):
        S = set(df[df['Category'] == category]['attr_2'])
        for element in S:
            D_Sarees_attr2[element] = (df[df['Category'] == category]['attr_2'] == element).sum()
            
    elif (category == 'Men Tshirts'):
        S = set(df[df['Category'] == category]['attr_2'])
        for element in S:
            D_Men_attr2[element] = (df[df['Category'] == category]['attr_2'] == element).sum()
            
    elif (category == 'Kurtis'):
        S = set(df[df['Category'] == category]['attr_2'])
        for element in S:
            D_Kurtis_attr2[element] = (df[df['Category'] == category]['attr_2'] == element).sum()
            
    elif (category == 'Women Tops & Tunics'):
        S = set(df[df['Category'] == category]['attr_2'])
        for element in S:
            D_WTT_attr2[element] = (df[df['Category'] == category]['attr_2'] == element).sum()
            
    elif (category == 'Women Tshirts'):
        S = set(df[df['Category'] == category]['attr_2'])
        for element in S:
            D_WTS_attr2[element] = (df[df['Category'] == category]['attr_2'] == element).sum()

In [9]:
print(D_WTT_attr1)
print()
print(D_Men_attr1)
print()
print(D_Kurtis_attr1)
print()
print(D_Sarees_attr1)
print()
print(D_WTS_attr1)

{'blue': 945, 'multicolor': 456, 'red': 802, 'black': 2703, 'maroon': 797, 'white': 2433, nan: 0, 'peach': 397, 'green': 666, 'pink': 1532, 'default': 1983, 'navy blue': 423, 'yellow': 921}

{'multicolor': 1821, 'white': 1253, 'black': 804, nan: 0, 'default': 2132}

{'blue': 426, 'multicolor': 407, 'red': 1376, 'black': 1395, 'maroon': 1071, nan: 0, 'white': 66, 'orange': 33, 'purple': 170, 'green': 258, 'pink': 220, 'grey': 137, 'navy blue': 717, 'yellow': 353}

{nan: 0, 'solid': 188, 'same as saree': 5230, 'same as border': 1611, 'default': 856}

{'multicolor': 1392, 'white': 4650, 'black': 2999, 'maroon': 729, nan: 0, 'yellow': 1838, 'pink': 1380, 'default': 4297}

In [10]:
print(D_WTT_attr2)
print()
print(D_Men_attr2)
print()
print(D_Kurtis_attr2)
print()
print(D_Sarees_attr2)
print()
print(D_WTS_attr2)

{'fitted': 5523, nan: 0, 'regular': 4846, 'default': 935, 'boxy': 2033}

{nan: 0, 'round': 3059, 'polo': 3085}

{'straight': 1165, nan: 0, 'a-line': 2066}

{'zari': 8542, 'no border': 313, 'temple border': 1296, 'woven design': 6262, nan: 0, 'solid': 411, 'default': 855}

{nan: 0, 'boxy': 942, 'regular': 12376, 'loose': 1483}

In [11]:
D_Kurtis_black=[]
samples = df[(df['Category'] == 'Kurtis') & (df['attr_1'] == 'black')]
sampled_data = samples.sample(100)
for i in sampled_data['id']:
    D_Kurtis_black.append(i)

In [12]:
D_Kurtis_aline=[]
samples = df[(df['Category'] == 'Kurtis') & (df['attr_2'] == 'a-line')]
sampled_data = samples.sample(100)
for i in sampled_data['id']:
    D_Kurtis_aline.append(i)

In [13]:
D_Men_white=[]
samples = df[(df['Category'] == 'Men Tshirts') & (df['attr_1'] == 'white')]
sampled_data = samples.sample(100)
for i in sampled_data['id']:
    D_Men_white.append(i)

In [14]:
D_Men_polo=[]
samples = df[(df['Category'] == 'Men Tshirts') & (df['attr_2'] == 'polo')]
sampled_data = samples.sample(100)
for i in sampled_data['id']:
    D_Men_polo.append(i)

In [15]:
D_Sarees_solid = []
samples = df[(df['Category'] == 'Sarees') & (df['attr_1'] == 'solid')]
sampled_data = samples.sample(100)
for i in sampled_data['id']:
    D_Sarees_solid.append(i)

In [16]:
D_Sarees_zari=[]
samples = df[(df['Category'] == 'Sarees') & (df['attr_2'] == 'zari')]
sampled_data = samples.sample(100)
for i in sampled_data['id']:
    D_Sarees_zari.append(i)

In [17]:
D_WTS_maroon=[]
samples = df[(df['Category'] == 'Women Tshirts') & (df['attr_1'] == 'maroon')]
sampled_data = samples.sample(100)
for i in sampled_data['id']:
    D_WTS_maroon.append(i)

In [18]:
D_WTS_loose=[]
samples = df[(df['Category'] == 'Women Tshirts') & (df['attr_2'] == 'loose')]
sampled_data = samples.sample(100)
for i in sampled_data['id']:
    D_WTS_loose.append(i)

In [19]:
D_WTT_blue=[]
samples = df[(df['Category'] == 'Women Tops & Tunics') & (df['attr_1'] == 'blue')]
sampled_data = samples.sample(100)
for i in sampled_data['id']:
    D_WTT_blue.append(i)

In [20]:
D_WTT_boxy = []
samples = df[(df['Category'] == 'Women Tops & Tunics') & (df['attr_2'] == 'boxy')]
sampled_data = samples.sample(100)
for i in sampled_data['id']:
    D_WTT_boxy.append(i)

In [24]:
src = "C:/Users/MANOJ/Downloads/train_images" # Path to the folder containing 70k training images

In [22]:
def copyImage(Id, Category_folder):
    os.makedirs(Category_folder, exist_ok=True)
    
    for i in Id:
        image_name = f"{i:06d}.jpg"
        s = os.path.join(src, image_name)
        if os.path.exists(s):
            shutil.copy2(s, Category_folder)

In [23]:
# Creating folders and copying the images according to attributes : Creating baskets
copyImage(D_Men_polo, 'D_Men_polo')
copyImage(D_Men_white, 'D_Men_white')
copyImage(D_Kurtis_aline, 'D_Kurtis_aline')
copyImage(D_Kurtis_black, 'D_Kurtis_black')
copyImage(D_Sarees_solid, 'D_Sarees_solid')
copyImage(D_Sarees_zari, 'D_Sarees_zari')
copyImage(D_WTS_loose, 'D_WTS_loose')
copyImage(D_WTS_maroon, 'D_WTS_maroon')
copyImage(D_WTT_blue, 'D_WTT_blue')
copyImage(D_WTT_boxy, 'D_WTT_boxy')